body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}
header {
    background-color: #1ecbd1;
    color: #fff;
    padding: 10px;
}
nav {
    background-color: #dae1e1;
    color: #fff;
    padding: 10px;
}
main{
    padding: 20px;
    font-size: xx-large;
}
nav button{
    padding: 15px 15px 15px 15px;
    font-size: 20px;
    background-color: black;
    color:  cyan;
}